@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-redditMono: 'Reddit Mono', monospace;
  --color-black: #232323;
  --color-white: #FFF9F4;
  --color-gray: #505050;
  --color-purple: #9174FF;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: theme(--color-purple);
  
}

/* Add this to your existing globals.css file */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000; /* Or your site's background color */
  transform-origin: bottom;
  z-index: 1000;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000; /* Or your site's background color */
  transform-origin: top;
  z-index: 1000;
}

body {
  margin: 0;
  padding: 0;
  font-family: theme(--font-josefin);
}

a {
  text-decoration: none;
}


.desktopNav a {
    font-family: theme(--font-redditMono);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

h2 {
  font-family: theme(--font-josefin);
  font-weight: bold;
}

h1, h3 {
  font-family: theme(--font-josefin);
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: theme(--font-redditMono);
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  font-size: 1.3rem;
  transition: background-color 0.4s ease, color 0.5s ease;
}

.socialLink:hover {
  background-color: theme(--color-black);
  border-color: none;
  color: theme(--color-white);
  scale: 1.2;
  transition: scale 0.4s ease;
}

@media screen and (min-width: 768px) {
  .socialLink {
    width: 55px;
    height: 55px;
    font-size: 1.5rem;
  }
}