.footerContainer {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--text-black);
    gap: 2rem;
}

.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 10rem 0;
}

.title {
    font-family: var(--font-josefin);
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.copyright {
    display: flex;
    font-family: var(--font-reddit-mono);
    font-size: 0.8rem;
    color: var(--text-black);
    padding: 2rem;
}

@media (min-width: 768px) {
    .title {
        font-size: 4rem;
    }
}