.projectsContainer {
    height: 400vh;
    position: relative;
    padding: 5rem 1rem;
}

.stickyWrapper {
    position: sticky;
    top: 0;
    height: 200vh;
    overflow: hidden;
}

.title {
  font-family: var(--font-josefin);
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.slide {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.slideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.imageContainer {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 3 / 2;
  border: 2px dashed var(--text-black);
  border-radius: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: black; /* placeholder */
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.projectInfo {
    text-align: center;
    max-width: 500px;
}

.projectNumber {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-black);
    font-family: var(--font-reddit-mono);
}

.projectTitle {
    font-family: var(--font-josefin);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.projectDescription {
    max-width: 22rem;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-black);
}

@media (min-width: 768px) {
    .title {
        font-size: 6rem;
    }

    .imageContainer {
        padding: 0;
    }

    .projectDescription {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}