.socialContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fixedContainer {
  position: fixed;
  bottom: 2rem;
  z-index: 100;
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--text-black);
  color: var(--text-black);
  font-size: 1.25rem;
  transition: background-color 0.4s ease, color 0.5s ease;
}

.socialLink:hover {
  background-color: var(--background-black);
  border-color: none;
  color: var(--background-white);
  scale: 1.1;
  transition: scale 0.4s ease;
}